{{#with vocabs }}
{{log book}}
<section>
  <h3>{{word}}</h3>
  <p>
    Definition:
    {{#if definition includeZero=true}}
      {{definition}}
    {{else}}
      Not yet defined.
    {{/if}}
  </p>
  <p>
    Sounds like:
    {{#if sounds_like includeZero=true}}
      {{sounds_like}}
    {{else}}
      Not yet defined.
    {{/if}}
  </p>
  <p>
    Synonyms:
    {{#if synonyms includeZero=true}}
      {{synonyms}}
    {{else}}
      Not yet defined.
    {{/if}}
  </p>
  <p>
    Antonyms:
    {{#if antonyms includeZero=true}}
      {{antonyms}}
    {{else}}
      Not yet defined.
    {{/if}}
  </p>
  <p>
    Sentence:
    {{#if sentence includeZero=true}}
      {{sentence}}
    {{else}}
      Not yet defined.
    {{/if}}
  </p>
  <button data-id="{{id}}" class="btn btn-secondary">Update</button>
{{/with}}
