{{#each vocabs as |vocab|}}
  {{log vocab}}
  <section data-id="{{vocab.id}}" class="vocab-section">
    <h3>
      Word:
    <span class="head">{{limit vocab.word 14}}</span>
    </h3>
    <p>
      {{#if vocab.sounds_like}}
        Sounds like:<span> {{limit vocab.sounds_like 15}}
      {{else}}
        Not yet defined.
      {{/if}}</span>
    </p>
    <p>
      {{#if vocab.definition}}
        Definition:<span> {{limit vocab.definition 18}}
      {{else}}
        Not yet defined.
      {{/if}}</span>
    </p>

    <p>
      {{#if vocab.sentence}}
        Sentence:<span> {{limit vocab.sentence 18}}
      {{else}}
        Not yet defined.
      {{/if}}<span>
    </p>
    <button data-id="{{vocab.id}}" class="btn information-btn">More Info</button>
    <button data-id="{{vocab.id}}" class="btn delete-btn">Delete</button>
  </section>
{{/each}}
