{{#each vocabs as |vocab|}}
  {{log vocab}}
  <div data-id="{{vocab.id}}" class="vocab-section col-sm-3">
    <h3>
      Word:
    <span class="head">{{limit vocab.word 14}}</span>
    </h3>
    <p>
      {{#if vocab.sounds_like}}
        Sounds like:<span> {{limit vocab.sounds_like 15}}
      {{else}}
        Not yet defined.
      {{/if}}</span>
    </p>
    <p>
      {{#if vocab.definition}}
        Definition:<span> {{limit vocab.definition 18}}
      {{else}}
        Not yet defined.
      {{/if}}</span>
    </p>

    <p>
      {{#if vocab.synonyms}}
        Synonyms:<span> {{limit vocab.synonyms 18}}
      {{else}}
        Not yet defined.
      {{/if}}<span>
    </p>
    <button data-id="{{vocab.id}}" class="btn btn-info">More Info</button>
    <button data-id="{{vocab.id}}" class="btn btn-danger">Delete</button>
  </div>
{{/each}}
