{{#each vocabs as |vocab|}}
  {{log vocab}}
  <section data-id="{{vocab.id}}" class="vocab-section">
    <h3>
      Word:
      {{limit vocab.word 14}}
    </h3>
    <p>
      {{#if vocab.sounds_like}}
        Sounds like: {{limit vocab.sounds_like 15}}
      {{else}}
        Not yet defined.
      {{/if}}
    </p>
    <p>
      {{#if vocab.definition}}
        Definition: {{limit vocab.definition 25}}
      {{else}}
        Not yet defined.
      {{/if}}
    </p>

    <p>
      {{#if vocab.sentence}}
        Sentence: {{limit vocab.sentence 25}}
      {{else}}
        Not yet defined.
      {{/if}}
    </p>
    <button data-id="{{vocab.id}}" class="btn information-btn">More Info</button>
    <button data-id="{{vocab.id}}" class="btn delete-btn">Delete</button>
  </section>
{{/each}}
